.navigation-bar {
    position: fixed;
    top: 15vh; /* Exactly below the header */
    height: 4vh;
    width: 100vw;
    padding: 1rem 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 998; /* below logo and buttons */
}

.nav-search {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    width: 30vw;
    max-width: 400px;
    background-color: #3d3d3d;
    color: #000;
    outline: none;
}

.filter-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.filter-icon:hover {
    opacity: 1;
}
